.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}
.submit-button {
    background-color: rgb(242, 95, 95);
    color: white;
    height: 40px;
    border: 2px solid black;
}

.errors {
    color: red;
}