.spot-card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(128, 128, 128, 0.273) 0px 0px 25px;
}

.image {
    width: fit-content;
    object-fit: fill;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.image-container {
    width: 375px;
}


.details-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.spot-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    padding: 5px;
}

.spot-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}