h1 {
    text-align: center;
}

input {
    background-color: rgb(237, 249, 253);
}

.errors {
    color: red;
}

.modal {
    background-color: white;
    top: -200px;
    right: auto;
    left: -140px;
    display: flex;
    flex-direction: column;
    z-index: 100;

}

.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    gap: 10px;
}

.login-button {
    background-color: rgb(242, 95, 95);
    color: white;
    height: 40px;
    border: 2px solid black;
}
